* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body {
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    margin-top: 70px;
}
/* fine common */
/* header */
header {
    background-color: #255EE9;
    height: 70px;
    line-height: 70px;
}

nav {
    margin: 0 auto;
    width: 70%;
}

.logo {
    float: left;
    width: 20%;
}

nav .menu {
    width: 60%;
    text-align: center;
}

nav .menu a {
    text-decoration: none;
    padding: 0 10px;
    color: white
}

nav .menu a:hover {
    text-decoration: underline;
}

nav div {
    display: inline-block;
}

nav img {
    vertical-align: middle;
}

#login {
    width: 20%;
    text-align: right;
    float: right;
}

#login a {
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}
/* fine header */
/* prima sezione */
.banner{
    position: relative;
    height: 450px;
    color: white;
    border-radius: 10px;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text{
    position: absolute;
    right: 25%;
    bottom: 25%;
    left: 25%;
    font-size: 18px;
    text-align: center;
}

.banner-text h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#download{
    margin-top: 20px;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
}

#open{
    margin-top: 20px;
    display: inline-block;
    background-color: black;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
/* fine prima sezione */
/* seconda sezione */
.right {
    float: right;
}

.left {
    float: left;
}

.picture {
    width: 65%;
}

.text {
    width: 35%;
}

.col h2 {
    padding: 30px 0px;
    font-weight: 900;
    font-size: 40px;
    text-align: left;
}

.col img {
    width: 100%;
}
/* fine seconda sezione */